//Colors
$darkPrimary: #2e1b0a;
$darkSecondary: #1f1c17;
$lightPrimary: #fcfcfc;
$lightSecondary: darken($lightPrimary, 4%);
$lightTertiary: darken($lightPrimary, 8%);
$primary: #f3b153;
$secondary: saturate(darken($primary, 2%), 1%);
$tertiary: #cf7900;
$primaryBoxShadow: rgba(0, 0, 0, 0.15);
$secondaryBoxShadow: rgba(0, 0, 0, 0.25);
$lightBorderColor: #e6ecf8;

//Screen Sizes
$xl: 1279px;
$lg: 1024px;
$md: 768px;

//Other
$headerSize: 64px;
$boxShadow:
  0 0.3em 0.5em -0.125em #0a0a0a14,
  0 0 0 1px $lightBorderColor;
$hoverBoxShadow:
  0 0.5em 0.7em -0.125em #0a0a0a14,
  0 0 0 1px $lightBorderColor;

@mixin xl {
  @media (min-width: $xl) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $lg) {
    @content;
  }
}

@mixin md {
  @media (min-width: $md) {
    @content;
  }
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin noDrag {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -khtml-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
