@use "sass:color";

// Colors
$darkPrimary: #1f1a12;
$darkSecondary: #1f1c17;
$lightPrimary: #fcfcfc;
$lightSecondary: color.adjust($lightPrimary, $lightness: -4%);
$lightTertiary: color.adjust($lightPrimary, $lightness: -8%);
$primary: #f3b153;
$secondary: color.adjust($primary, $lightness: -2%, $saturation: 1%);
$tertiary: #cf7900;
$primaryBoxShadow: rgba(0, 0, 0, 0.15);
$secondaryBoxShadow: rgba(0, 0, 0, 0.25);
$lightBorderColor: #e6ecf8;

// Box Shadows
$boxShadowColor: rgba(0, 0, 0, 0.15);
$boxShadow:
  0 0.3em 0.5em -0.125em $boxShadowColor,
  0 0 0 1px $lightBorderColor;
$hoverBoxShadow:
  0 0.5em 0.7em -0.125em $boxShadowColor,
  0 0 0 1px $lightBorderColor;

// Screen Sizes
$xl: 1279px;
$lg: 1024px;
$md: 768px;

// Other
$headerSize: 64px;

// Mixins
@mixin xl {
  @media (min-width: $xl) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $lg) {
    @content;
  }
}

@mixin md {
  @media (min-width: $md) {
    @content;
  }
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin noDrag {
  user-select: none;
  user-drag: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

%card {
  border-radius: 5px;
  box-shadow: $boxShadow;
  background-color: $lightPrimary;
}

%tag {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: $primary;
  color: $darkPrimary;
  font-size: 0.8em;
}

@mixin flexColumnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
