@use "sass:color";

// Colors
$bg: hsl(20, 60%, 99%);

$darkPrimary: hsl(37, 27%, 10%);
$darkSecondary: color.adjust($darkPrimary, $lightness: 8%);

$lightPrimary: hsl(0, 0%, 100%);
$lightSecondary: color.adjust($lightPrimary, $lightness: -2%);

$primary: hsl(35, 87%, 64%);
$secondary: color.adjust($primary, $lightness: -2%, $saturation: 1%);

$borderColor: hsl(0, 0%, 90%);
$borderColorMuted: hsl(0, 0%, 87%);

// Borders
$borderRadius: 4px;
$border: 1px solid $borderColor;
$boxShadow: rgba(0, 0, 0, 0.05) 0 0px 3px;

// Screen Sizes
$lg: 1080px;
$md: 768px;

// Other
$headerSize: 54px;

// Mixins
@mixin lg {
  @media (min-width: $lg) {
    @content;
  }
}

@mixin md {
  @media (min-width: $md) {
    @content;
  }
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin noDrag {
  user-select: none;
  user-drag: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@mixin button {
  @include flexCenter;
  @include noDrag;
  gap: 10px;
  padding: 8px 16px;
  border-radius: $borderRadius;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  text-decoration: none;
  transition:
    transform 0.25s,
    background-color 0.25s,
    color 0.25s,
    border-color 0.25s,
    box-shadow 0.25s;
  cursor: pointer;
}

@mixin card {
  border-radius: $borderRadius;
  border: $border;
  box-shadow: $boxShadow;
  background-color: $lightPrimary;
}

@mixin tag {
  padding: 3px 6px;
  border-radius: $borderRadius;
  white-space: nowrap;
  transition: all 0.25s ease;
}

@mixin flexColumnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
