@use "variables" as *;

.wrapper {
  @include flexCenter;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  padding: 100px 0px;
  background-color: $secondary;
  color: rgb(81, 41, 7);
  font-size: 1.1em;
  font-weight: 700;
  text-align: center;
}

.logo {
  @include noDrag;
  @include flexCenter;
  width: 60px;
  height: 60px;
  padding-bottom: 6px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: $darkPrimary;
  color: $primary;
  font-size: 3.3rem;
  font-weight: 600;
}

.svgShape {
  margin-top: 100px;
  margin-bottom: -5px;
  overflow: hidden;
  svg {
    fill: $secondary;
    width: 130%;
    height: 100px;
  }

  @include lg {
    margin-top: 200px;
  }
}
