@use "sass:color";
@use "variables" as *;

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  background-color: $bg;
  font-family:
    -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0 0 0.1em 0;
  line-height: 1;
}

* {
  box-sizing: border-box;
}

.orderFirst,
.orderSecond {
  order: auto;
}

.orderFirst {
  @include lg {
    order: 1;
  }
}

.orderSecond {
  @include lg {
    order: 2;
  }
}

.primaryButton {
  @include button;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  background-color: $darkPrimary;
  color: $secondary;

  &:hover {
    background-color: $darkSecondary;
  }
}

.secondaryButton {
  @include button;
  background-color: #fff;
  border: 1px solid $borderColor;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: $darkPrimary;

  &:hover {
    background-color: $lightSecondary;
  }
}

.transparentButton {
  @include button;
  color: $darkPrimary;
}
