@use "sass:color";
@use "variables" as *;

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  background-color: $bg;
  font-family:
    -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif;
}

a {
  text-decoration-color: $primary;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
  color: inherit;
  transition: all 0.25s ease-in-out;
  &:hover {
    text-decoration-color: color.adjust($primary, $lightness: -20%, $saturation: 5%);
  }
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  color: $darkPrimary;
  margin: 0 0 0.1em 0;
  line-height: 1;
}

* {
  box-sizing: border-box;
}

.orderFirst,
.orderSecond {
  order: auto;
}

.orderFirst {
  @include lg {
    order: 1;
  }
}

.orderSecond {
  @include lg {
    order: 2;
  }
}

.primaryButton {
  @include button;
  box-shadow: $boxShadow;
  background-color: $darkPrimary;
  color: $secondary;

  &:hover {
    background-color: $darkSecondary;
  }
}

.secondaryButton {
  @include button;
  background-color: #fff;
  border: 1px solid $borderColor;
  box-shadow: $boxShadow;
  color: $darkPrimary;

  &:hover {
    background-color: $lightSecondary;
    border-color: $borderColorMuted;
  }
}

.transparentButton {
  @include button;
  color: $darkPrimary;
}
