@use "sass:color";
@use "variables" as *;

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  background-color: $lightPrimary;
  font-family:
    -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0 0 0.1em 0;
  line-height: 1;
}

* {
  box-sizing: border-box;
}

.orderFirst {
  order: auto;
  @include lg {
    order: 1;
  }
}

.orderSecond {
  order: auto;
  @include lg {
    order: 2;
  }
}

%button {
  @include flexCenter;
  @include noDrag;
  gap: 10px;
  padding: 12px 16px;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  transition:
    transform 0.25s ease-in-out,
    background-color 0.25s ease,
    color 0.25s ease,
    box-shadow 0.25s ease-in-out;
  cursor: pointer;

  @include md {
    padding: 12px 20px;
    font-size: 1.1rem;
  }

  &:hover {
    transform: translateY(-2px);
  }
}

.primaryButton {
  @extend %button;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: $darkSecondary;
  color: $secondary;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
    background-color: color.adjust($darkPrimary, $lightness: -1%);
  }
}

.secondaryButton {
  @extend %button;
  background-color: #fff;
  box-shadow: $boxShadow;
  color: $darkPrimary;

  &:hover {
    box-shadow: $secondaryBoxShadow;
    background-color: color.adjust($lightPrimary, $lightness: -1%);
  }
}

.transparentButton {
  @extend %button;
  color: $darkPrimary;
}
