@use "variables" as *;

.bg {
  position: relative;
  overflow: hidden;
  background: linear-gradient(0deg, $secondary 0%, $primary 100%);
  z-index: 0;
  &:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23ed9f31' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23ed9f31'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    animation: bg-animation 200s linear infinite;
  }
}

@keyframes bg-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wrapper {
  @include flexCenter;
  width: 100%;
  min-height: 100vh;
  padding: 100px 0;
  overflow: hidden;
}

.container {
  @include flexCenter;
  flex-direction: column;
  gap: 40px;
  max-width: $lg;
  padding: 0 30px;
  margin: 0 auto;
  @include lg {
    flex: 1;
    flex-direction: row;
    gap: 0;
  }
}

.containerItem {
  @include flexCenter;
  flex-direction: column;
  gap: 0.3em;
  padding-bottom: 10px;
  text-align: center;
  @include lg {
    flex: 1;
    &.headingContainer {
      align-items: flex-start;
      text-align: left;
    }
    &.laptopContainer {
      align-items: flex-end;
    }
  }
}

.heading {
  white-space: nowrap;
  color: $darkPrimary;
  font-size: 2.8rem;
  font-weight: 700;
  @include md {
    font-size: 2.8rem;
  }
  @include lg {
    font-size: 3.7rem;
  }
}

.subHeading {
  h2,
  span {
    max-width: 350px;
    line-height: 1.5em;
    color: $darkPrimary;
    font-size: 1.2rem;
    font-weight: 600;

    span {
      text-underline-offset: 2px;
      display: inline-flex;
      position: relative;
      padding: 0 2px;
      overflow: hidden;
      text-decoration-color: $tertiary !important;
      transform-style: preserve-3d;
      cursor: text;

      &::after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: $tertiary;
        transform: translate3d(-101%, 0, 0);
        transition: transform 0.25s ease-in-out;
      }

      &:hover::after {
        transform: translate3d(0, 0, 0);
      }
    }
  }

  @include md {
    h2,
    span {
      max-width: 500px;
      font-size: 1.4rem;
    }
  }
}

.buttonsContainer {
  @include flexCenter;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  margin-top: 1.2rem;
  @include lg {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.scrollDownArrow {
  display: none;
  position: absolute;
  bottom: 10px;
  opacity: 0.75;
  margin: 0;
  text-align: center;
  color: $darkPrimary;
  font-size: 2rem;
  animation: arrowSliding 1.5s ease infinite;
  transition: all 0.25s;
  @include md {
    display: block;
  }
}

.SVGShape {
  display: block;
  margin-bottom: -1px;
  fill: $lightPrimary;
  overflow: hidden;
}

@keyframes arrowSliding {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
