@use "sass:color";
@use "sass:math";
@use "variables" as *;

$laptopWidth: 20.4em;
$laptopHeight: 11.4em;
$toolbar-background: rgb(50, 50, 50);
$screen-background: rgb(38, 38, 38);
$base-background: rgb(209, 210, 214);
$gradient-dark: rgba(44, 45, 47, 0.6);
$gradient-light: rgba(153, 154, 158, 0.75);
$toolbar-radius: 0.5em;
$numOfLines: 12;

@mixin gradient-background($start, $end, $deg: 180deg) {
  background: linear-gradient($deg, $start 30%, $end 90%);
}

.laptop {
  width: $laptopWidth;
  height: $laptopHeight;
  perspective: 1200px;
  transition: transform 0.25s ease-in-out;
  @include md {
    width: $laptopWidth * 1.2;
    height: $laptopHeight * 1.2;
  }
  @include lg {
    width: $laptopWidth * 1.25;
    height: $laptopHeight * 1.25;
  }
  &:hover {
    transform: scale(1.01);
  }
}

.display {
  position: relative;
  width: 81%;
  height: 93%;
  margin: auto;
  border-top-left-radius: 3.5%;
  border-top-right-radius: 3.5%;
  background-color: #000;
  overflow: hidden;
  transform-origin: bottom;
  transform-style: preserve-3d;
  &:before {
    content: "";
    position: absolute;
    top: 0.2em;
    right: 0;
    left: 0;
    z-index: 3;
    width: 10%;
    height: 4%;
    margin: auto;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    background: #000;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 0;
    height: 0;
    border-top: 6em solid #ffffff05;
    border-left: 6em solid transparent;
  }
}

.toolbar {
  display: flex;
  position: absolute;
  top: 2.5%;
  left: 1.45%;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
  width: 97%;
  height: 2.5%;
  padding-left: 0.4em;
  border-top-left-radius: $toolbar-radius;
  border-top-right-radius: $toolbar-radius;
  background: $toolbar-background;
}
.toolbar div {
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 50%;
}
.toolbar div:first-child {
  background: #ff5658;
}
.toolbar div:nth-child(2) {
  background: #e7c91f;
}
.toolbar div:nth-child(3) {
  background: #4fc32b;
}

.screen {
  position: absolute;
  top: 2.5%;
  left: 1.45%;
  z-index: -1;
  width: 97%;
  height: 95%;
  padding: 5% 7%;
  margin: 0;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
  background: $screen-background;
  list-style: none;
  @for $i from 1 through $numOfLines {
    $width: math.random(40) + 30 + 0%;
    $indent: if(
      $i < calc($numOfLines / 2),
      $i * 5 + math.random(20) + 0px,
      ((calc($numOfLines / 2) * 5) - ($i * 2)) + math.random(20) + 0px
    );
    li:nth-child(#{$i}) {
      left: $indent;
      width: $width;
      animation:
        fadeIn 0.7s ease-in-out (0.5s + $i * 0.1) forwards,
        glow 5s ease infinite alternate;
      &:after {
        left: -$indent + if($i < 10, 10.5px, 8px);
      }
    }
  }
}

.screen li {
  counter-increment: liCounter;
  position: relative;
  opacity: 0;
  height: 3%;
  margin: 0.4em 0;
  border-radius: 0.3em;
  background: rgb(180, 180, 180);
  background-image: linear-gradient(
    to right,
    #f3b153,
    color.adjust(#f3b153, $lightness: 20%),
    #f3b153
  );
  @include md {
    height: 3.5%;
  }
}
.screen li:after {
  content: counter(liCounter);
  position: absolute;
  top: 0;
  margin-top: -0.4em;
  margin-left: -2.3em;
  color: rgba($primary, 0.7);
  font-size: 0.5em;
  font-weight: bold;
  @include md {
    font-size: 0.6em;
  }
}

.imageContainerMultiple:after {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba($darkPrimary, 0.15) 0%,
    transparent 10%,
    transparent 90%,
    rgba($darkPrimary, 0.15) 100%
  );
  z-index: 1;
}

.base {
  position: relative;
  width: 100%;
  height: 2.5%;
  background-color: $base-background;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    width: 1em;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(209, 210, 214, 0.35) 0,
      rgba(118, 119, 123, 0.35) 51%,
      rgba(209, 210, 214, 0.35) 99%
    );
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
}

.indent {
  width: 10%;
  height: 60%;
  margin: auto;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  @include gradient-background($gradient-light, $gradient-dark);
}

.bottom {
  height: 1.7%;
  margin: auto;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  box-shadow:
    0 5px 15px #0000004d,
    0 2px 6px #00000080;
  @include gradient-background($gradient-light, $gradient-dark);
}

//Animations
@keyframes fadeIn {
  0% {
    opacity: 0;
    max-width: 0;
  }
  100% {
    opacity: 1;
    max-width: 100%;
  }
}
@keyframes openLaptop {
  0% {
    transform: rotateX(275deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
@keyframes glow {
  to {
    background-position:
      315px 0,
      0 0,
      0 190px,
      50px 195px;
  }
}
