@use "variables" as *;

.wrapper {
  @include flexCenter;
  width: 100%;
  padding: 100px 0;
  &:not(:nth-child(2)) {
    border-top: 1px solid $borderColor;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: $lg;
  padding: 10px 30px;
  overflow-x: hidden;
  will-change: auto !important;
}

.heading {
  font-size: 2.2rem;
  &:after {
    content: "";
    display: block;
    border-radius: $borderRadius;
    width: 5rem;
    height: 4px;
    margin-top: 1rem;
    background-color: $primary;
  }
}

.subSectionsContainer {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.subSection {
  @include flexColumnCenter;
  gap: 3rem;
  width: 100%;
  margin-top: 0.5em;
  @include lg {
    flex-direction: row;
  }
}

.textContainer {
  display: flex;
  flex: 1.4 1 0;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  line-height: calc(1ex / 0.32);
  color: $darkPrimary;
  align-items: flex-start;
  text-align: left;
}

.subSectionHeading {
  color: $darkPrimary;
  font-size: 1.5em;
  font-weight: 700;
}

.buttonsContainer {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-self: auto;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.image {
  @include noDrag;
  width: 28rem;
  border: $border;
  border-radius: $borderRadius;
  transition: all 0.3s ease-in-out;
  box-shadow: $boxShadow;
  &:hover {
    transform: scale(1.02);
  }
  @include md {
    width: 23rem;
  }
}
