@use "variables" as *;

.wrapper {
  @include flexCenter;
  width: 100%;
  padding: 100px 0;
  background-color: $lightPrimary;
  &:not(:nth-child(2)) {
    border-top: 1px solid $lightBorderColor;
  }
}

.container {
  @include flexColumnCenter;
  gap: 15px;
  width: $xl;
  padding: 20px 30px;
  overflow-x: hidden;
  will-change: auto !important;
  @include lg {
    gap: 40px;
  }
}

.heading {
  font-size: 2.5em;
  &:after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    margin: 20px auto;
    background-color: $primary;
  }
}

.subSectionsContainer {
  @include flexColumnCenter;
  gap: 75px;
  width: 100%;
  @include lg {
    gap: 8em;
  }
}

.subSection {
  @include flexColumnCenter;
  gap: 50px;
  width: 100%;
  margin-top: 0.5em;
  @include lg {
    gap: 75px;
    flex-direction: row;
  }
}

.textContainer {
  display: flex;
  flex: 1.4 1 0;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  width: 100%;
  line-height: calc(1ex / 0.32);
  color: $darkSecondary;
  text-align: center;
  @include lg {
    align-items: flex-start;
    text-align: left;
  }
}

.subSectionHeading {
  color: $darkPrimary;
  font-size: 1.5em;
  font-weight: 700;
}

.buttonsContainer {
  @include flexColumnCenter;
  gap: 1em;
  align-self: center;
  margin-top: 20px;
  @include lg {
    flex-direction: row;
    align-self: auto;
  }
}

.image {
  width: 375px;
  box-shadow:
    rgba(9, 30, 66, 0.1) 0px 4px 8px -2px,
    rgba(230, 236, 248, 0.5) 0px 0px 0px 1px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  span {
    border-radius: 5px;
  }
  &:hover {
    transform: scale(1.02);
  }
}
