//Colors
$darkPrimary: hsl(234, 3%, 11%);
$darkSecondary: #262626;
$darkTertiary: #404040;
$lightPrimary: #fafafa;
$lightSecondary: #f5f5f5;
$lightTertiary: #e5e5e5;
$primary: #dc682e;
$secondary: #cf3e20;
$Tertiary: #342402;

//Screen Sizes
$lg: 1024px;
$md: 768px;

@mixin lg {
  @media (min-width: $lg) {
    @content;
  }
}

@mixin md {
  @media (min-width: $md) {
    @content;
  }
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

