//Colors
$darkPrimary: #1c1a17;
$darkSecondary: lighten($darkPrimary, 4%);
$darkTertiary: lighten($darkPrimary, 8%);
$lightPrimary: #fcfcfc;
$lightSecondary: darken($lightPrimary, 4%);
$lightTertiary: darken($lightPrimary, 8%);
$primary: #f3b153;
$secondary: saturate(darken($primary, 4%), 2%);
$tertiary: saturate(darken($primary, 8%), 6%);
$primaryBoxShadow: rgba(0, 0, 0, 0.15);
$secondaryBoxShadow: rgba(0, 0, 0, 0.25);

//Screen Sizes
$xl: 1279px;
$lg: 1024px;
$md: 768px;

//Other
$headerSize: 64px;
$boxShadow: 0 0.3em 0.8em -0.125em #0a0a0a14, 0 0 0 1px rgb(10 10 10 / 2%);
$hoverBoxShadow: 0 0.5em 1em -0.125em #0a0a0a14, 0 0 0 1px rgb(10 10 10 / 2%);

@mixin xl {
  @media (min-width: $xl) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $lg) {
    @content;
  }
}

@mixin md {
  @media (min-width: $md) {
    @content;
  }
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin noDrag {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -khtml-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
