//Colors
$darkPrimary: #1c1a17;
$darkSecondary: #272420;
$darkTertiary: #2e2e2e;
$lightPrimary: #fcfcfc;
$lightSecondary: #f2f2f2;
$lightTertiary: #d9d9d9;
$primary: #e1af6e;
$secondary: #deb378;
$Tertiary: #b48b55;
$primaryBoxShadow: rgba(0, 0, 0, 0.2);
$secondaryBoxShadow: rgba(0, 0, 0, 0.3);

//Screen Sizes
$xl: 1279px;
$lg: 1024px;
$md: 768px;

//Other
$headerSize: 64px;

@mixin xl {
  @media (min-width: $xl) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $lg) {
    @content;
  }
}

@mixin md {
  @media (min-width: $md) {
    @content;
  }
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin noDrag {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -khtml-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
