@use "styles/variables" as *;

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 40px 0px;
    margin-top: 100px;
    background-color: $darkPrimary;
    color: $primary;
    font-size: 1rem;
}