@use "styles/variables" as *;

.wrapper {
  @include flexCenter;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  padding: 100px 0px;
  background-color: $secondary;
  color: rgb(81, 41, 7);
  font-size: 1.2rem;
  font-weight: 700;
}

.logo {
  @include noDrag;
  @include flexCenter;
  padding-bottom: 6px;
  margin-bottom: 20px;
  height: 60px;
  width: 60px;
  font-size: 3.3rem;
  font-weight: 600;
  color: $primary;
  background-color: $darkPrimary;
  border-radius: 5px;
}

.svgShape {
  margin-bottom: -5px;
  margin-top: 150px;
  overflow: hidden;
  svg {
    width: 130%;
    height: 100px;
    fill: $secondary;
  }
}
