@use "styles/variables" as *;

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  background-color: $lightPrimary;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.orderFirst {
  order: auto;
  @include lg {
    order: 1;
  }
}

.orderSecond {
  order: auto;
  @include lg {
    order: 2;
  }
}

@mixin button {
  @include flexCenter;
  @include noDrag;
  gap: 10px;
  padding: 14px 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 700;
  transition: transform 0.25s ease-in-out, background-color 0.25s ease,
    color 0.25s ease, box-shadow 0.25s ease-in-out;
  cursor: pointer;

  @include md {
    padding: 12px 20px;
    font-size: 1.1rem;
  }

  &:hover {
    transform: translateY(-2px);
  }

  .buttonIcon {
    font-size: 1.1em;
  }
}

.primaryButton {
  @include button;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 18px, rgba(0, 0, 0, 0.1) 0px 6px 6px;
  background-color: $darkPrimary;
  color: $secondary;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.11) 0px 11px 18px,
      rgba(0, 0, 0, 0.11) 0px 7px 6px;
    background-color: $darkSecondary;
  }
}

.secondaryButton {
  @include button;
  box-shadow: $boxShadow;
  background-color: #fff;
  color: $darkPrimary;

  &:hover {
    box-shadow: $secondaryBoxShadow;
    background-color: darken($lightPrimary, 1%);
  }
}

.transparentButton {
  @include button;
  color: $darkPrimary;
}

[data-aos][data-aos][data-aos-easing="ease"],
body[data-aos-easing="ease"] [data-aos] {
  transition-timing-function: ease;
}

[data-aos][data-aos][data-aos-duration="1000"],
body[data-aos-duration="1000"] [data-aos] {
  transition-duration: 1s;
}

[data-aos^="fade"][data-aos^="fade"] {
  opacity: 0;
  transition-property: opacity, transform;
}

[data-aos^="fade"][data-aos^="fade"].aos-animate {
  opacity: 1;
  transform: translateZ(0);
}

[data-aos="fade-up"] {
  transform: translate3d(0, 100px, 0);
}
