@use "styles/variables" as *;

.wrapper {
  @include flexCenter;
  flex-direction: column;
  gap: 20px;
  min-height: 100vh;
  background: $primary;
  background: linear-gradient(0deg, $primary 0%, $secondary 100%);
}

.heading {
  font-size: 3.5rem;
  text-align: center;
  margin: 0;
  color: $lightPrimary;
}

.subHeading {
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
  color: $lightPrimary;
}