@use "styles/variables" as *;

.wrapper {
  @include flexCenter;
  width: 100%;
  min-height: 100vh;
  background: $primary;
  background: linear-gradient(0deg, $secondary 0%, $primary 100%);
}

.container {
  @include flexCenter;
  flex: 1;
  flex-direction: column;
  max-width: $xl;
  gap: 40px;
  padding: 0 30px;

  @include lg {
    flex-direction: row;
    gap: 20px;
  }
}

.containerItem {
  @include flexCenter;
  flex: 1;
  flex-direction: column;
  text-align: center;
  gap: 20px;

  @include lg {
    gap: 30px;
    &.headingContainer {
      align-items: flex-start;
      text-align: left;
    }
    &.laptopContainer {
      display: flex;
      align-items: flex-end;
    }
  }
}

.heading {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 700;
  color: $darkPrimary;

  @include md {
    font-size: 2.8rem;
  }

  @include lg {
    font-size: 2.9rem;
  }

  @include xl {
    font-size: 3.3rem;
  }
}

.subHeading {
  font-size: 1.5rem;
  margin: 0;
  color: $darkPrimary;
}

.scrollDownArrow {
  position: absolute;
  bottom: 10px;
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
  color: $darkPrimary;
  animation: slidingLoopAnimation 1s linear infinite;
  transition: all 0.3s ease;

  &.hidden {
    opacity: 0;
  }
}

@keyframes slidingLoopAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.button {
  @include flexCenter;
  gap: 10px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding: 12px 20px;
  color: $lightPrimary;
  background-color: $darkPrimary;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 5px 10px $primaryBoxShadow;
  transition: all 0.3s ease;
  cursor: pointer;
  transition: all 0.15s ease-in-out;

  &:hover {
    background-color: $darkSecondary;
    box-shadow: 0px 5px 11px $secondaryBoxShadow;
    transform: translateY(-2px);
  }
}

.SVGShape {
  fill: $secondary;
}

//Laptop
$laptopWidth: 25.5em;
$laptopHeight: 14.25em;

.laptop {
  width: $laptopWidth;
  height: $laptopHeight;
  perspective: 1200px;
  transition: transform 0.3s ease-in-out;

  @include md {
    width: $laptopWidth * 1.2;
    height: $laptopHeight * 1.2;
  }

  @include lg {
    width: $laptopWidth * 1.3;
    height: $laptopHeight * 1.3;
  }

  @include xl {
    width: $laptopWidth * 1.4;
    height: $laptopHeight * 1.4;
  }

  &:hover {
    transform: translateY(-5px);
  }
}

.laptopDisplay {
  position: relative;
  margin: auto;
  border-top-left-radius: 0.425em;
  border-top-right-radius: 0.425em;
  background-color: #000;
  width: 81%;
  height: 93%;
  overflow: hidden;
  transform-style: preserve-3d;
  transform-origin: bottom;
  animation-delay: 3s;
  animation: openLaptop 2s ease-in-out;

  &:before {
    position: absolute;
    top: 0.05em;
    right: 0;
    left: 0;
    z-index: 2;
    margin: auto;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    background: #000;
    width: 10%;
    height: 4%;
    content: "";
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    border-top: 6em solid #ffffff0e;
    border-left: 6em solid transparent;
    width: 0;
    height: 0;
  }
}

.laptopScreen {
  display: flex;
  justify-content: flex-start;
  padding: 8% 7%;
  background: #2b2b2b;
  position: absolute;
  top: 1.5%;
  left: 1%;
  z-index: 1;
  margin: auto;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  background-size: cover;
  width: 98%;
  height: 96%;
}

.laptopBackground {
  @include noSelect;
  z-index: -1;
}

.typingText {
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
  color: $lightPrimary;

  @include md {
    font-size: 1.2rem;
  }
}

.laptopBase {
  position: relative;
  background-color: #eff0f4;
  width: 100%;
  height: 2.5%;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1em;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(226, 228, 227, 0.35) 0,
      rgba(140, 141, 145, 0.35) 51%,
      rgba(226, 228, 227, 0.35) 99%,
      rgba(226, 228, 227, 0.35)
    );
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1em;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(226, 228, 227, 0.35) 0,
      rgba(140, 141, 145, 0.35) 51%,
      rgba(226, 228, 227, 0.35) 99%,
      rgba(226, 228, 227, 0.35)
    );
  }
}

.laptopIndent {
  margin: auto;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  width: 10%;
  height: 60%;
  background: linear-gradient(
    180deg,
    rgba(153, 154, 158, 0.75) 30%,
    rgba(44, 45, 47, 0.6) 90%
  );
}

.laptopBottom {
  margin: auto;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  box-shadow: 0 19px 38px #000000, 0 5px 12px #0000004d;
  height: 1.7%;
  background: linear-gradient(
    180deg,
    rgba(153, 154, 158, 0.75) 30%,
    rgba(44, 45, 47, 0.6) 90%
  );
}

@keyframes openLaptop {
  0% {
    transform: rotateX(275deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
