@use "styles/variables" as *;

.wrapper {
  @include flexCenter;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  width: 100%;
  gap: 30px;
  padding: 25px 0px;

  @include md {
    grid-template-columns: repeat(2, 1fr);
  }

  @include lg {
    grid-template-columns: repeat(3, 1fr);
  }
}

.project {
  position: relative;
  max-width: 400px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.25s ease;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 2%);
  animation: fadeIn 0.5s ease-in-out;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0.7em 1.2em -0.125em rgb(10 10 10 / 12%),
      0 0 0 1px rgb(10 10 10 / 2%);
    transform: scale(1.02);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.projectImageContainer {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  position: relative;
  width: 100%;
  height: 200px;
}

.projectImage {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.projectInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: $darkPrimary;
  padding: 20px;

  h3 {
    margin: 0;
  }

  .projectDescription {
    color: rgba($darkPrimary, 60%);
  }
}

.projectTags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2px;
  width: 100%;
  color: $darkPrimary;
  transition: all 0.3s ease-in-out;

  span {
    background: $primary;
    color: $darkPrimary;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 2px;
    font-size: 0.8em;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
      background: $secondary;
      color: $darkSecondary;
    }
  }
}
