@use "styles/variables" as *;

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 20px;
  padding: 0 30px;
  background: $primary;
}

.projectContainer {
    @include flexCenter;
    height: 200px;
    background: $secondary;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    &:hover {
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
      transform: scale(1.02);
    }
}
