@use "styles/variables" as *;

.wrapper {
  @include flexCenter;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;

    &.in.visible {
      opacity: 1;
    }
  }

  .modal {
    display: flex;
    flex-direction: column;
    z-index: 101;
    width: 95%;
    height: 95%;
    border-radius: 5px;
    box-shadow: 0 0.3em 0.5em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px #e6ecf8;
    background-color: $lightPrimary;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.3s ease, transform 0.3s ease;

    &.in.visible {
      opacity: 1;
      transform: translateY(0);
    }

    @include md {
      width: 800px;
      max-width: 90%;
      height: 750px;
      max-height: 80%;
    }
  }

  .header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px 10px 30px;
    border-bottom: 1px solid #e6ecf8;
    color: $darkPrimary;

    .titleContainer {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: flex-start;
      overflow: hidden;

      .title {
        color: $darkPrimary;
        font-size: 1.5em;
        font-weight: 700;

        @include lg {
          font-size: 1.8em;
        }
      }

      .titleTags {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
      }

      .titleTag {
        @include noDrag;
        @include flexCenter;
        gap: 5px;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: $primary;
        font-size: 0.8em;
        font-weight: 500;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: $secondary;
        }

        @include lg {
          padding: 5px 12px;
          font-size: 0.9em;
        }
      }
    }

    .closeButton {
      @include flexCenter;
      color: $darkPrimary;
      font-size: 1.2em;
      font-weight: 700;
      transition: all 0.2s ease;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        background-color: $lightSecondary;
      }
    }
  }

  .bodyContainer {
    overflow-y: auto;

    .body {
      @include flexCenter;
      flex-direction: column;
      gap: 10px;
      padding: 40px 30px;

      .imagePagination {
        @include flexCenter;
        gap: 5px;
        padding: 5px 0;

        .imagePaginationItem {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: $darkTertiary;
          cursor: pointer;
        }

        .activeImagePaginationItem {
          background-color: $primary;
          cursor: default;
        }
      }

      .imageContainer {
        @include noDrag;
        position: relative;
        width: 100%;

        .arrowContainer {
          @include flexCenter;
          position: absolute;
          padding: 0 10px;
          top: 0;
          height: 100%;
          z-index: 1;

          .arrow {
            color: $lightTertiary;
            font-size: 2em;
            transition: transform 0.25s;
            filter: drop-shadow(0px 3px 2px #0000001a);
            cursor: pointer;

            &:hover {
              transform: scale(1.1);
              transition: transform 0.25s;
            }
          }
        }

        .arrowLeft {
          left: 0;
        }

        .arrowRight {
          right: 0;
        }

        span {
          border-radius: 5px;
        }

        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(
            90deg,
            rgba($darkPrimary, 0.2) 0%,
            transparent 10%,
            transparent 90%,
            rgba($darkPrimary, 0.2) 100%
          );
        }

        .imageSwitchAnimation {
          animation: fadeOutAndBackIn 0.5s ease;
        }
      }

      .description {
        width: 100%;
        text-align: left;
        line-height: 1.5em;
      }
    }
  }
}

.openModal {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.3s ease;
}

.closeModal {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.3s ease;
}

@keyframes fadeOutAndBackIn {
  0% {
    opacity: 1;
    scale: 1;
  }
  50% {
    opacity: 0.8;
    scale: 1.01;
    filter: blur(2px);
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
