@use "styles/variables" as *;

.wrapper {
  @include flexCenter;
  width: 100%;
  padding: 100px 0;
  background-color: $lightPrimary;

  //all but not first
  &:not(:nth-child(2)) {
    border-top: 1px solid #E6ECF8;
  }
}

.container {
  @include flexCenter;
  flex-direction: column;
  gap: 10px;
  width: $xl;
  padding: 10px 30px;
  overflow: hidden;
}

.heading {
  font-size: 2.5em;

  &:after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background-color: $primary;
    margin: 20px auto;
  }
}

.subSectionsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 75px;
}

.subSection {
  width: 100%;
  @include flexCenter;
  flex-direction: column;
  gap: 50px;
  margin-top: 0.5em;

  @include lg {
    flex-direction: row;
  }
}

.subSectionHeading {
  font-size: 1.2em;
  font-weight: 700;
  color: $darkPrimary;
  white-space: nowrap;
}

.paragraph {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  flex: 1.4 1 0;
  color: $darkPrimary;
  line-height: calc(1ex / 0.32);
}

.imageContainer {
  position: relative;
  @include flexCenter;
  flex: 1 1 0;
}

.image {
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 2px 5px $primaryBoxShadow;
  width: 375px;
}

.buttonsContainer {
  margin-top: 20px;
}
