@use "styles/variables" as *;

.wrapper {
  @include flexCenter;
  width: 100%;
  padding: 100px 0;
  background-color: $lightPrimary;
  min-height: 500px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  width: $lg;
  padding: 10px 30px;
  overflow: hidden;
}

.heading {
  font-size: 2.5em;

  &:after {
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    background-color: $primary;
    margin-top: 8px;
  }
}

.paragraph {
  margin: 0;
  color: $darkPrimary;
  line-height: 1.5;
}
